body{
	background: rgb(62,41,55);
}
#pic{
	height: 200px;*width: 300px;text-align: center;margin-top: 30px;
}
#piccon{
	height:200px;text-align: center;
}
#cont{
	font-size: 20px;color:#fff;text-align: center;font-family: mix;
}
a{
	text-decoration: none;color:rgb(170,96,56);
}

@font-face{font-family: 'dix';src:url("Stainy.ttf");}
@font-face{font-family: 'mix';src:url("Roboto.ttf");}